:root{
--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
--Dark-gray: hsl(0, 0%, 59%);
--font-size: 18px;
--font-family: 'Kumbh Sans',sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
body{
    background-color: var(--Dark-cyan);
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
}
.ho { 
    position: relative;
    top:-50px;
    display: flex;
    justify-content: center;
}
.card {
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    justify-content: center;
}
.image-profile {
    display: flex;
    position: relative;
    border-radius: 100px;
    border: 10px;
    border-color: white;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data span:nth-child(1){
    font-weight: 700;
    font-size: var(--font-size);
}
.data span:nth-child(2){
    font-weight: 700;
    color: var(--Dark-gray);
    font-size: var(--font-size);
}
.description span:nth-child(2){
    font-size: 14px;
    font-size: 400;
    font-weight: var(--font-size);
    color: var(--Dark-gray);
}
.stat{
    display: flex;
    justify-content: space-around;
}
.stat>div{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.stat>div span:nth-child(1){
    font-weight: 700;
    font-size: var(--font-size);
}
.stat>div span:nth-child(2){
    font-weight: 400;
    color: var(--Dark-gray);
    font-size: 14px;
}